<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-10-20T14:39:41Z</date>
	<key>WorkspacePath</key>
	<string>/Users/lnittman/Documents/Developer/381/1_project/1_project.xcodeproj</string>
</dict>
</plist>
