<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-12-19T02:09:35Z</date>
	<key>WorkspacePath</key>
	<string>/Users/lnittman/Documents/Developer/381/5_project/5_project.xcodeproj</string>
</dict>
</plist>
